/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter-Black';
  src: url('./../public/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./../public/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('./../public/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('./../public/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Light';
  src: url('./../public/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./../public/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./../public/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./../public/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('./../public/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

:root {
--color-primary: #bca67D;
--color-primary-transparent: rgba(188, 166, 125, 0.45);
--color-secondary: #BD2538;
--color-background: #192849;
--color-secondary-transparent: rgba(189, 37, 56, 0.8);
--color-background-transparent: rgba(25, 40, 73, 0.75);
--color-white-transparent: rgba(255, 255, 255, 0.45);
--color-white: #fff;

--container-width-lg: 86%;
--container-width-md: 90%;
--container-width-sm: 94%;
--form-width: 50%;

--transition: all 400ms ease;
}



body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow-x: hidden; /* Prevent horizontal scrolling */
font-family: "Inter-Medium", sans-serif;
line-height: 1.7;
color: var(--color-background);
}

.container {
width: var(--container-width-lg);
margin: 0 auto;
}

section h2 {
text-align: center;
margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
line-height: 1.2;
}

h1 {
font-size: 2.4rem;
font-family: "Inter-ExtraBold", sans-serif;
}

.center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 50px;
}

.multiple-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the buttons horizontally */
}

.multiple-buttons a {
  margin-bottom: 20px;
}



/* Remove the margin for the last button */
.multiple-buttons a:last-child {
  margin-bottom: 0;
}

h2 {
font-size: 2rem;
font-family: "Inter-SemiBold", sans-serif;
font-weight: 500;
letter-spacing: 2px;
}

h3 {
font-size: 1.6rem;
}

h4 {
font-size: 1.3rem;
}

h5 {
font-family: "Inter-Regular", sans-serif;
font-size: 0.9rem;
word-spacing: 0.2rem;
line-height: 1.5;
}

a {
color: var(--color-white);
}

p {
font-family: "Inter-Medium", sans-serif;
letter-spacing: 1px;
}

img {
width: 100%;
display: block;
object-fit: cover;
transition: var(--transition);
}

img:hover {
transform: scale(1.02);
}


.content-wrapper {
flex: 1;
display: flex;
flex-direction: column;
}

/* Other container styles */
.container {
width: var(--container-width-lg);
margin: 0 auto;
}

/* Other CSS remains the same... */



.btn {
display: inline-block;
background: var(--color-secondary);
color: var(--color-background);
padding: 0.33rem 2.4rem;
border: 3px solid transparent;
border-radius: 112px;
font-weight: 400;
transition: var(--transition);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust shadow to match the design */
font-family: "Inter-Bold", sans-serif;
width: fit-content;
}

.btn:hover {
background: var(--color-background);
color: var(--color-white);
border-color: var(--color-white);
}

.btn-primary {
background: var(--color-background);
color: var(--color-white);
padding: 0.5rem 3rem;
}

.btn-primary:hover {
  background: var(--color-white);
  color: var(--color-background);
  border-color: var(--color-background);
  }

.btn-secondary {
background: var(--color-primary);
color: var(--color-white);
}

.btn-background {
background: var(--color-secondary);
color: var(--color-white);
padding: 0.5rem 3rem;
}

/* ====================== Error Page =============================== */

.error-center {
  text-align: center;
  padding-top: 15rem;
  margin-inline: center;
  display: block;
  width: 100%;
}

.error-page h2{
  margin-top: 3rem;
  font-family: "Righteous", sans-serif;
  filter: drop-shadow(4px 5px 3px rgba(26, 26, 26, 0.374)); /* Optional: Larger shadow on hover for a subtle effect */
}

/*====================  Hero Template =============================*/

.hero-p {
  font-size: 16px;
}

header {
display: flex; /* This makes header a flex container */
justify-content: center; /* This centers its children horizontally */
align-items: center; /* This centers its children vertically */
flex-direction: column; /* This stacks children vertically */
padding-top: 12rem;
}

.header__container {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 5rem;
height: 100%;
position: relative;
}

.header-template {
  width: 60%;
  margin: 0 auto;
}


.header__left p {
margin: 1rem 0 2.4rem;
color: var(--color-primary);
color: var(--color-white);
margin-bottom: 80px;
}

.header__left h1 {
margin-top: -150px;
margin-bottom: 30px;
letter-spacing: 6px;
font-weight: 100;
font-size: 60px;
color: var(--color-primary);
color: var(--color-white);
}


/*========================== Hero Images ===================================*/



.header-home {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image Homepage.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}

.header-about {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image About.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}

.header-services {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image Services.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}

.header-transfers {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image Transfers.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}

.header-players {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image Players.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}

.header-blog {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image Blog.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}

.header-contact {
  background-image: linear-gradient(
    to bottom,
    rgba(188, 166, 125, 0.7) 0%,
    rgba(25, 40, 73, 0.8) 100%
  ), url('./../public/assets/Hero Image Contact.png');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-bottom: 5px solid var(--color-primary);
}



/*========================== BG ===================================*/


.home-background {
width: 100%;
background: url('./../public/assets/Homepage Background.jpg') no-repeat center center;
background-size: cover;
background-attachment: scroll;
}

.about-background {
width: 100%;
background: url('./../public/assets/Blog Background.jpg') no-repeat center center;
background-size: cover;
background-attachment: scroll;
}

.services-background {
  width: 100%;
  background: url('./../public/assets/Services Background.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  }

.transfers-background {
   width: 100%;
   background: url('./../public/assets/Transfers & Players Background.jpg') no-repeat center center;
   background-size: cover;
   background-attachment: scroll;
   }

.players-background {
   width: 100%;
   background: url('./../public/assets/Transfers & Players Background.jpg') no-repeat center center;
   background-size: cover;
   background-attachment: scroll;
   }

.blog-background {
   width: 100%;
   background: url('./../public/assets/Blog Background.jpg') no-repeat center center;
   background-size: cover;
   background-attachment: scroll;
   }

.contact-background {
   width: 100%;
   background: url('./../public/assets/Transfers & Players Background.jpg') no-repeat center center;
   background-size: cover;
   background-attachment: scroll;
   }

.other-background {
    width: 100%;
    background: url('./../public/assets/Other Background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    }



    
/* Hide the default checkbox appearance */
.custom-checkbox-container input[type="checkbox"] {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none;    /* Firefox */
  appearance: none;
  width: 30px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 1.5px solid var(--color-primary); /* Use your primary color */
  border-radius: 50%; /* Make it round */
  background-color: #fff;
  transition: var(--transition);
}

/* Style the checked state */
.custom-checkbox-container input[type="checkbox"]:checked {
  background-color: var(--color-primary); /* Fill background when checked */
}

/* Optional: Add a checkmark or dot inside the checkbox when checked */
.custom-checkbox-container input[type="checkbox"]:checked::after {
  content: '✔';
  position: absolute;
  top: 8px;
  left: 12px;
  width: 1px;
  height: 12px;
  color: #fff; /* Color of the inner dot */
  border-radius: 50%;

  transition: var(--transition);
}

/* Adjust the label */
.custom-checkbox-container label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

/* Ensure the checkbox and label text are properly spaced */
.custom-checkbox-container label > input[type="checkbox"] {
  margin-right: 10px;
}



    /* ====================== Responsive Tablets =============================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.4rem 2rem; /* Increases button size */
  }

  .container, .main-container {
    padding: 0 20px; /* Adds padding on the sides */
  }

}

    @media screen and (max-width: 768px) {
      .container {
        width: var(--container-width-sm); /* Uses smaller container width */
      }
    
      .btn {
        padding: 0.4rem 1.5rem; /* Reduces button size for space */
      }
    
      /* Increase base text size for readability */
      body {
        font-size: 1rem; /* Increases text size */
      }
    
      /* Make images and sections adapt to smaller screens */
      img, .section {
        width: 100%;
        height: auto;
      }
    
      .hero-div h1 {
        font-size: 2.5rem; /* Adjusts hero text size */
      }
    
      .header__container, .about-section, .services-section, .portfolio-section {
        padding: 0 15px; /* Reduces padding */
        justify-content: center; /* Center the image container */
        text-align: center;
        margin-top: 100px;
      }
    
      .hero-container {
        width: 100%;
        background-size: cover;
      background-attachment: scroll;
      }
    
      .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px; /* This adds space between your flex items */
      }
    
      .header__left, .header__right {
        width: 100%; /* This ensures each child takes full width */
        margin-bottom: 20px; /* This adds space between your flex items */
      }

      .header__left h1 {
        font-size: 35px;
        line-height: 1.5;
      }
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.1rem;
  }

  span {
    font-size: 1.3rem;
  }

  .hero-p {
    font-size: 0.8rem;
  }
    }
